[
  { spark, [
    {network,
      {definition,
        [ % Layers
          {5, 3, function_name}, % {Inputs, Neurons, Activation Function}
          {3, 1, function_name}
        ]
      },
      {state, [ % For each layer...
        [ % First layer
          {[0.0, 0.0, 0.0, 0.0, 0.0], 0.0}, % Neuron Definition
          {[0.0, 0.0, 0.0, 0.0, 0.0], 0.0}, % {[Weights], Bias}
          {[0.0, 0.0, 0.0, 0.0, 0.0], 0.0}
        ],
        [ % Second layer
          {[0.0, 0.0, 0.0], 0.0}
        ]
      ]}
    }
  ]}
].
