[
  { spark, [
    {network,
      {definition,
        [
          {5, 3, function_name}, % m, n, k
          {3, 1, function_name}  % 5, 3, 1
        ]
      },
      {state, [
        [%%[0.0, 0.0, 0.0, 0.0, 0.0] <- Input
          {[0.0, 0.0, 0.0, 0.0, 0.0], 0.0}, %%   Row * Column
          {[0.0, 0.0, 0.0, 0.0, 0.0], 0.0}, %% A = m * k
          {[0.0, 0.0, 0.0, 0.0, 0.0], 0.0}  %% B = k * n
        ],[                                 %% C = m * n
          {[0.0, 0.0, 0.0], 0.0}
        ]
      ]}
    }
  ]}
].
